{% if disconnect %}

	<header class="d-flex justify-content-between align-items-center border-bottom bg-light">
		<a href="/" class="col-1 p-1 d-flex  ">
			<img class="" src="./pictures/logo-weride.webp" width="70px" alt="logo_weride">
		</a>
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="/inscription" class="nav-link text-secondary">Inscription</a>
			</li>
			<li class="nav-item">
				<a href="/connexion" class="nav-link text-secondary">Connexion</a>
			</li>
		</ul>
	</header>
{% else %}
	<header class="border-bottom shadow bg-light">
	{# header #}
		<div class="d-flex justify-content-between">
			<a href="/profil" class="col-3 my-auto d-none d-md-block d-flex align-items-center">
				<img class="px-3" src="/pictures/logo-weride.webp" width="100px" alt="logo_weride">
			</a>
				<div class="col-12 col-md-6 col-lg-6 d-flex flex-column flex-md-row justify-content-md-around align-items-center header">
					{% if not user.picture %} 
					<img class="col-6 col-md-2 p-1 rounded-circle" src="/pictures/default.jpg" class="card-img-top"/>
					{% else %}
					<img class="col-6 col-md-2 p-1 rounded-circle" src="/images/userImages/{{user.id}}/{{user.picture}}" alt="image de profil" class="card-img-top"/>
					{% endif %}
					<div class="col-6 p-1 d-flex flex-column align-items-center align-items-md-start">
						<div>
							<h1>{{user.pseudo}}</h1>
							<p class="text-white">{{user.motoUser[0].brand}} {{user.motoUser[0].model}} {{user.motoUser[0].cylinder}}</p>
						</div>
					</div>
					<div class="col-10 col-md-4 p-1 d-flex flex-column">
						<button type="" class="p-0 mt-1 mb-1 btn btn-light">
							<a href="/deconnexion" class="nav-link p-0">Deconnexion</a>
						</button>
						<button type="button" class="mt-1 mb-1 p-0  btn btn-light">
							<a href="/nouvelleEvenement" class="nav-link p-0" aria-current="page">Organiser une sortie</a>
						</button>
						<button type="button" class="mt-1 mb-1 p-0   btn btn-light">
							<a href="/modifierProfil" class="nav-link p-0" aria-current="page">Modifier mon Profil</a>
						</button>
					</div>
				</div>
			<div class="col-3 d-none d-md-block"></div>
		</div >

		{# navbar #}
		<ul class="col-12 col-md-6 col-lg-6 nav nav-pills mx-auto d-flex align-items-center justify-content-around text-center">
			<li class="col-3 nav-item text-center {% if route == 'profil'  %} border-3 border-primary border-bottom {% endif %}">
				<a href="/profil" class="text-decoration-none {% if route == 'profil'  %} text-primary {% else %} text-secondary {% endif %} " aria-current="page">Profil</a>
			</li>
			<li class="col-3 nav-item text-center text-secondary {% if route == 'listEvent'  %} text-primary border-3 border-primary border-bottom {% endif %}">
				<a href="/listeEvenement" class="text-decoration-none {% if route == 'listEvent'  %} text-primary {% else %} text-secondary {% endif %}" aria-current="page">Sorties motos</a>
			</li>
			{% if user.status == 2 %}
			<li class="col-3 nav-item text-center text-secondary {% if route == 'listUsers'  %} text-primary border-3 border-primary border-bottom {% endif %}">
				<a href="/listeUtilisateurs" class="text-decoration-none {% if route == 'listUsers'  %} text-primary {% else %} text-secondary {% endif %}" aria-current="page">Liste des Riders</a>
			</li>
			{% endif %}
		</ul>
	</header>
{% endif %}
