{% extends "../../main.html.twig" %}
{% block main %}
	<main>
		<div class="container">
			<div class="row ">
				<form class="col-md-6 mx-auto mt-5 p-3 my-5 bg-light rounded" method="post" action="/modifierEvenement/{{event._id}}/{{userEvent._id}}">
					<h3 class="text-primary">Modifies ta sortie</h1>
					<hr class="m-0">
					<div class="mt-2">
						<label for="startDate">Date de départ</label>
						<input type="date" class="form-control" id="startDate" name="startDate"  value="{{event.startDate}}">
						<p class="text-danger">{{errors.startDate}}</p>
					</div>
					<div class="mt-2">
						<label for="hour">Heure de départ</label>
						<input type="time" class="form-control" id="hour" name="hour"  value="{{event.hour}}">
						<p class="text-danger">{{errors.hour}}</p>
					</div>
					<div class="mt-2">
						<label for="endDate">Date de retour</label>
						<input type="date" class="form-control" id="endDate" name="endDate"  value="{{event.endDate}}">
						<p class="text-danger">{{errors.endDate}}</p>
					</div>
					<div class="mt-2">
						<label for="departureLocation">Lieu de départ</label>
						<input type="text" class="form-control" id="departureLocation" name="departureLocation" value="{{event.departureLocation}}">
						<p class="text-danger">{{errors.departureLocation}}</p>
					</div>
					<div class="mt-2">
						<label for="backLocation">Lieu de retour</label>
						<input type="mail" class="form-control" id="backLocation" name="backLocation"  value="{{event.backLocation}}">
						<p class="text-danger">{{errors.backLocation}}</p>
					</div>
					<div class="mt-2">
						<label for="step">Etape</label>
						<input type="text" class="form-control" id="step" name="step"  value="{{event.step}}">
						<p class="text-danger">{{errors.step}}</p>
					</div>
					<div class="row mt-2 mb-2">
						<div>
							<input type="radio" id="pepere" name="type" value="pepere">
							<label for="pepere">Pépère</label>
						</div>
						<div>
							<input type="radio" id="normal" name="type" value="normal" checked>
							<label for="normal" >Normal</label>
						</div>
						<div>
							<input type="radio" id="gaz" name="type" value="gaz">
							<label for="gaz">GazzZ</label>
						</div>
					</div>
					<div class="mt-2">
						<label for="title">Titre</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="" value="{{event.title}}">
						<p class="text-danger">{{errors.title}}</p>
					</div>
					<div class="mt-2">
						<label for="description">Description</label>
						<textarea type="textera" rows="5" cols="8" class="form-control" id="description" name="description" placeholder="Votre description">{{event.description}}</textarea>
						<p class="text-danger">{{errors.description}}</p>
					</div>
					<button type="submit" class="btn btn-primary mt-2">Valider</button>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
